{% extends "base.html" %}

{% block content %}
    <table class="steelBlueCols">
        <tr>
            <th>Name                    <a href="#">&#x25B2</a> <a href="#">&#x25BC</a></th>
            <th>Main application        <a href="#">&#x25B2</a> <a href="#">&#x25BC</a></th>
            <th>Supported frameworks    <a href="#">&#x25B2</a> <a href="#">&#x25BC</a></th>
            <th>Compatible with         <a href="#">&#x25B2</a> <a href="#">&#x25BC</a></th>
        </tr>
        {% for data in table_data %}
        <tr>
            <td>{{ data['name'] }}</td>
            <td>{{ data['application'] }}</td>
            <td>
            {% for framework in data['framework'] %}
                {{ framework }}
            {% endfor %}
            </td>
            <td>
            {% for compatible in data['compatible'] %}
                {{ compatible }}
            {% endfor %}
            </td>
        </tr>
        {% endfor %}
    </table>
    <div class="pagination">
        <a href="/index/{{pages[0]}}">&laquo;</a>
        {% for page in pages[1:-1] %}
            <a href="/index/{{page}}">{{page}}</a>
        {% endfor %}
        <a href="/index/{{pages[-1]}}">&raquo;</a>
    </div>

{% endblock %}
